<h2>Using weighted classes in SVC with emphasis on converted donors improves model significantly</h2>

In [1]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import psycopg2
import re
import numpy as np
from mcnulty import reformat_columns, dc_map_normalize_split, simple_gradboost_test
from sklearn.preprocessing import StandardScaler, Imputer, LabelBinarizer, MultiLabelBinarizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score
from sklearn_pandas import DataFrameMapper
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_curve, roc_auc_score
import seaborn as sns
from warnings import filterwarnings

/home/dlahtou/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
cnx = create_engine('postgresql://user1:password@localhost/mcnulty', isolation_level="READ COMMITTED")

In [3]:
conn = cnx.connect()

In [14]:
query = '''
SELECT donations.donation_amount AS donation_amt,
        donations.donor_cart_sequence AS ord,
        donations.converts AS conv,
        donations.project_id,
        donations.donor_id,
        p.school_id,
        p.project_cost,
        p.project_grade_level_category AS grade_level,
        p.project_current_status AS funded,
        p.project_subject_category_tree AS subject_category,
        s.school_percentage_free_lunch AS perc_lunch,
        s.school_county AS county,
        s.school_metro_type AS metro,
        d.donor_is_teacher AS is_teacher,
        donations.donation_included_optional_donation AS incl_opt,
        t.teacher_prefix AS prefix,
        t.teacher_id
FROM donations
JOIN projects p ON donations.project_id = p.project_id
JOIN schools s ON p.school_id = s.school_id
JOIN donors d ON donations.donor_id = d.donor_id
JOIN teachers t ON p.teacher_id = t.teacher_id
WHERE s.school_state = 'Washington'
'''

In [15]:
i5_df = pd.read_sql_query(query ,cnx)

In [13]:
i5_df = reformat_columns(i5_df)

/home/dlahtou/ds/metis/McNulty-DonorsChoose-RepeatDonors/mcnulty.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['project_cost'] = df.apply(make_cost_float, axis=1)
/home/dlahtou/ds/metis/McNulty-DonorsChoose-RepeatDonors/mcnulty.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  lambda row: row[col_name].split(', '), axis=1)

In [16]:
len(i5_df['teacher_id'].unique())

7024

In [ ]:
filterwarnings(action='once')
X_train, X_test, y_train, y_test = dc_map_normalize_split(i5_df, 
        ['project_cost', 'perc_lunch', 'donation_amt', 'is_teacher', 'incl_opt', 'grade_level', 'funded', 'metro', 'subject_category'])

In [ ]:
GBclf = simple_gradboost_test(X_train, X_test, y_train, y_test)

In [ ]:
import matplotlib.pyplot as plt
y_pred_grd = GBclf.predict_proba(X_test)[:, 1]
print(roc_auc_score(y_test, y_pred_grd))
fpr_grd, tpr_grd, _ = roc_curve(y_test, y_pred_grd)
plt.plot(fpr_grd, tpr_grd, label='GBT')
plt.plot([0,1], [0,1])
plt.xlabel('False positive rate')
plt.ylabel('True positive rate')

In [60]:
query2 = '''
SELECT donations.donation_amount AS donation_amt,
        donations.donor_cart_sequence AS ord,
        donations.converts AS conv,
        donations.donor_id,
        p.project_posted_date AS proj_date,
        p.project_cost,
        p.project_grade_level_category AS grade_level,
        p.project_current_status AS funded,
        p.teacher_id AS teacher_id,
        s.school_percentage_free_lunch AS perc_lunch,
        s.school_county AS county,
        s.school_metro_type AS metro,
        s.school_id AS school_id,
        d.donor_id,
        d.donor_is_teacher AS is_teacher,
        donations.donation_included_optional_donation AS incl_opt,
        t.teacher_prefix AS prefix
FROM donations
JOIN projects p ON donations.project_id = p.project_id
JOIN schools s ON p.school_id = s.school_id
JOIN donors d ON donations.donor_id = d.donor_id
JOIN teachers t ON p.teacher_id = t.teacher_id
WHERE donations.converts = 1 AND s.school_state = 'Washington'
'''

In [61]:
CONVERT_DF = pd.read_sql_query(query2,cnx)

In [62]:
CONVERT_DF.sort_values(by='donor_id')

,donation_amt,ord,conv,proj_date,project_cost,grade_level,funded,teacher_id,perc_lunch,county,metro,school_id,donor_id,is_teacher,incl_opt,prefix
3694,200.00,2,1,2016-08-31,"$3,522.94",Grades 3-5,Fully Funded,e1d2067c3e29f9e5e3d2eb5c349c1dcb,37.0,Walla Walla,urban,cc42edba7d417d5ff866ff7885462922,0002413480f8e6a120e3927f095f7e59,No,Yes,Ms.
3693,38.80,1,1,2014-12-09,$218.80,Grades 3-5,Fully Funded,e1d2067c3e29f9e5e3d2eb5c349c1dcb,37.0,Walla Walla,urban,cc42edba7d417d5ff866ff7885462922,0002413480f8e6a120e3927f095f7e59,No,Yes,Ms.
1766,25.00,2,1,2015-10-13,$375.78,Grades PreK-2,Fully Funded,cf70140753917d7bba7cc565a168a0d9,22.0,King,urban,d2998e0f315e59b1c79f04d760a6aa7a,000ffb3b9c8ea8a0ea71e600b0fc1b7d,No,Yes,Mrs.
1733,25.00,1,1,2015-09-27,$383.41,Grades 6-8,Archived,9ebe2ac5f2180ec67897953a9a75f7a9,42.0,King,urban,e508ae6dbaddad10c8a632ceb2223599,000ffb3b9c8ea8a0ea71e600b0fc1b7d,No,Yes,Mrs.
6079,50.00,1,1,2015-04-25,"$1,332.95",Grades 3-5,Expired,56f6ade98a9bc91b87daeeb22264c6bb,62.0,King,unknown,11c5ff32e38f8b0b28341d50fa637410,0017c9e82690911c9edb14884cdb3f9c,No,Yes,Mrs.
6080,50.00,2,1,2018-01-23,$393.54,Grades PreK-2,Fully Funded,56f6ade98a9bc91b87daeeb22264c6bb,62.0,King,unknown,11c5ff32e38f8b0b28341d50fa637410,0017c9e82690911c9edb14884cdb3f9c,No,Yes,Mrs.
8176,10.00,2,1,2014-07-23,"$1,189.47",Grades 6-8,Fully Funded,798135d4a429b5f7406eb7bcda444dbd,73.0,Skagit,urban,7405f38d8c918f06a0fa1b8c9876dec4,00255f7b68297475a85083e8344bc487,No,Yes,Ms.
664,10.00,1,1,2015-03-30,$554.06,Grades 3-5,Fully Funded,b64c39ed4d18bc1449fe42af022cde88,5.0,King,urban,f1382c7b1dc1f0ee171403066df62377,002727d6ced97bc80519fefb561bf92c,No,Yes,Mrs.
665,10.00,2,1,2015-04-20,$211.72,Grades 3-5,Fully Funded,b64c39ed4d18bc1449fe42af022cde88,5.0,King,urban,f1382c7b1dc1f0ee171403066df62377,002727d6ced97bc80519fefb561bf92c,No,Yes,Mrs.
5689,30.00,2,1,2016-08-27,$578.82,Grades PreK-2,Fully Funded,f9bf426fd194bc82542e7699b46c03cb,79.0,King,urban,380b7ecd7c79a4fa094aa0731e1cbe8d,003202de16330eed55e5718731568862,No,Yes,Mrs.
5690,20.00,1,1,2015-10-26,"$1,766.59",Grades PreK-2,Fully Funded,f9bf426fd194bc82542e7699b46c03cb,79.0,King,urban,380b7ecd7c79a4fa094aa0731e1cbe8d,003202de16330eed55e5718731568862,No,Yes,Mrs.
6556,20.00,1,1,2013-06-16,"$1,050.32",Grades 9-12,Fully Funded,68d85769fea2ad8ef7476aeb72533ed3,74.0,Skagit,urban,e94f74bdc32fd7958ef86a8da4fbffff,0035f697432646250727c33ae6f28e40,No,Yes,Ms.
6605,25.00,2,1,2013-11-10,$422.47,Grades PreK-2,Fully Funded,c7443889f4ca1380a2eec94e2c080555,70.0,Kitsap,urban,5489f195ae729d5f11a2472dbf948bab,0035f697432646250727c33ae6f28e40,No,Yes,Mrs.
1751,100.00,1,1,2014-09-26,$590.44,Grades 3-5,Expired,be1592ec7ed29ec154e1a787a655d31a,34.0,King,urban,9c0a2282c6b6899606dee94ae1c39afd,003c0daf7ab79931930bd74d98ed332c,No,Yes,Mr.
1747,100.00,1,1,2014-10-17,"$2,584.14",Grades PreK-2,Expired,b99e4f908db0d689c63045e57c1263f0,79.0,King,suburban,b19fa03a5e74df8ec55fe83c133f1fa9,003c0daf7ab79931930bd74d98ed332c,No,Yes,Ms.
7600,25.00,1,1,2018-03-13,$981.99,Grades 3-5,Fully Funded,a2ed3c8923fb6440229d69e0b964ec8a,77.0,Pierce,urban,d88d276fb7748fa15ffc9e2f89359964,003cad2484048eb28c4b5a36ca3aae7b,No,Yes,Mrs.
7599,10.00,2,1,2018-03-31,"$1,260.95",Grades 3-5,Live,a2ed3c8923fb6440229d69e0b964ec8a,77.0,Pierce,urban,d88d276fb7748fa15ffc9e2f89359964,003cad2484048eb28c4b5a36ca3aae7b,No,Yes,Mrs.
8061,40.00,2,1,2017-08-05,$617.89,Grades PreK-2,Expired,bf20971504a25d17778444258aaa48a5,61.0,Spokane,urban,d0eb77cc74d891d787ddb34689ab7e03,004700f1a9637553b136d73d42cb1d4e,No,Yes,Mrs.
8060,50.00,1,1,2016-09-25,$831.25,Grades PreK-2,Fully Funded,bf20971504a25d17778444258aaa48a5,61.0,Spokane,urban,d0eb77cc74d891d787ddb34689ab7e03,004700f1a9637553b136d73d42cb1d4e,No,Yes,Mrs.
4171,5.00,1,1,2013-12-14,$220.52,Grades 3-5,Fully Funded,f67d047a2aa814fa9d894c25d6162eb3,71.0,Snohomish,unknown,cca287e088bb2aae9f749419e4518f2d,004887df7e9cf3a3aba62ef9fdcbcb9c,No,Yes,Ms.
7499,120.00,2,1,2016-10-16,"$1,069.08",Grades 3-5,Expired,03de69835177f91164466297e6c59e81,10.0,King,urban,5adfb23ae8da90456f1ffe5ec0329163,004b8c9575a1d1a37df067d8dc016df0,No,Yes,Mrs.
7498,100.00,1,1,2014-10-19,"$1,049.47",Grades 3-5,Fully Funded,03de69835177f91164466297e6c59e81,57.0,King,unknown,b32e72c9b71ebd3cb3daaa4d8513fd88,004b8c9575a1d1a37df067d8dc016df0,No,Yes,Mrs.
5981,10.00,2,1,2017-08-09,$236.85,Grades 3-5,Fully Funded,be1592ec7ed29ec154e1a787a655d31a,34.0,King,urban,9c0a2282c6b6899606dee94ae1c39afd,0081753e5288ef0d6c1d9984efa1f70c,Yes,Yes,Mr.
4021,20.00,1,1,2014-09-06,$657.56,Grades PreK-2,Fully Funded,0086ed87fa44b54354849d46d5555551,83.0,King,urban,d6069ac4ea0828fadc8bbed8fe96f614,0086ed87fa44b54354849d46d5555551,Yes,Yes,Ms.
4020,10.00,2,1,2014-09-25,$552.62,Grades PreK-2,Fully Funded,0086ed87fa44b54354849d46d5555551,83.0,King,urban,d6069ac4ea0828fadc8bbed8fe96f614,0086ed87fa44b54354849d46d5555551,Yes,Yes,Ms.
1827,345.25,1,1,2015-12-19,$528.95,Grades PreK-2,Fully Funded,12f378b65c83705b30e160aa6a167a90,77.0,King,urban,b3a91f240ebfabb74258baae64478277,0088f02c1b952f6bfa47a1574f9e13ba,No,Yes,Mrs.
1876,243.66,1,1,2015-09-13,$442.66,Grades 3-5,Fully Funded,5dbe61981fe26503c24fcc31c04a805d,80.0,Snohomish,unknown,91af3acc59d429e0bf55b6d50d78c917,0088f02c1b952f6bfa47a1574f9e13ba,No,Yes,Mrs.
8357,50.00,1,1,2017-10-08,"$2,013.05",Grades PreK-2,Fully Funded,aed65eff9c1ad013c9051f7ee4bf51e3,36.0,King,suburban,10c01ae897b5b335f29560d4d52fc533,00898d305fcc10b86f192c181bb4a342,No,Yes,Ms.
8358,50.00,2,1,2017-10-08,"$2,013.05",Grades PreK-2,Fully Funded,aed65eff9c1ad013c9051f7ee4bf51e3,36.0,King,suburban,10c01ae897b5b335f29560d4d52fc533,00898d305fcc10b86f192c181bb4a342,No,Yes,Ms.
2194,20.00,2,1,2017-02-02,$334.53,Grades 6-8,Fully Funded,36ccf4078abc728c7cee03f524d37231,34.0,Snohomish,suburban,c2895bab100e78f0c9d903e18a35a0ae,008a591ada64a760686135cec5a11d1d,No,Yes,Mrs.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8766,200.00,2,1,2016-11-07,$889.55,Grades 3-5,Fully Funded,cae4315d3cadf0ff6e22e92c627d4a29,72.0,King,urban,e5a5e3e4dd5514d5956b0fc7942b4890,ff2ed35ed16481018a69be2453ec424e,No,No,Ms.
4426,50.00,1,1,2015-08-22,$287.12,Grades PreK-2,Fully Funded,7b22083116ec1754e307af5d2bc99d4d,54.0,King,suburban,02b4713f1ad90908491fbf511acc53da,ff313a2be51308c4a5244e6bd9ed2ccf,No,Yes,Mrs.
4353,50.00,2,1,2015-11-01,"$1,716.12",Grades 9-12,Fully Funded,12735fdf8d2d34bc18aed105a86f25f2,80.0,King,urban,abbc9bcca8d875fd1cad98e49f73f774,ff313a2be51308c4a5244e6bd9ed2ccf,No,Yes,Mrs.
8676,10.00,2,1,2014-03-25,$282.06,Grades PreK-2,Fully Funded,0d0f92e4042be950d3322936cb93f70b,77.0,Pierce,urban,2d1de7e2c966aa24eed6b21c2c781037,ff338ce3f58f4684a0c889e4afc71b4f,Yes,Yes,Mrs.
8892,100.00,1,1,2015-09-13,"$1,043.69",Grades 9-12,Fully Funded,82411b76fda4be722991469c4701d2b7,73.0,King,urban,c80e6250f67b4ee2c408ba5fa85f3b80,ff346a7946e60b47ff6b413a820dbdea,No,Yes,Mr.
5543,25.00,1,1,2014-10-11,$691.48,Grades 3-5,Fully Funded,3aa750653079d3f187b2cd6066016287,95.0,Franklin,suburban,eea2a3ec9b0c24ffaf4d973a5af2ee94,ff5282ee5eabea3f4e1b7b75c86a4937,No,Yes,Mrs.
5544,6.32,2,1,2014-12-14,"$1,082.26",Grades 3-5,Fully Funded,3aa750653079d3f187b2cd6066016287,95.0,Franklin,suburban,eea2a3ec9b0c24ffaf4d973a5af2ee94,ff5282ee5eabea3f4e1b7b75c86a4937,No,Yes,Mrs.
7501,25.00,2,1,2017-10-15,$516.07,Grades PreK-2,Fully Funded,070012f4cf8726074497f8747cb649da,75.0,Spokane,urban,b10c63f288174646dc9f02d6a440cb89,ff6656113eabd80e90ba664c94482b4d,No,Yes,Mrs.
7502,10.00,1,1,2016-09-10,$852.06,Grades PreK-2,Fully Funded,070012f4cf8726074497f8747cb649da,75.0,Spokane,urban,b10c63f288174646dc9f02d6a440cb89,ff6656113eabd80e90ba664c94482b4d,No,Yes,Mrs.
6532,20.00,2,1,2014-03-10,"$1,879.84",Grades 3-5,Fully Funded,4d497d21b56046a2d1c24e74e3a48a8a,79.0,King,urban,380b7ecd7c79a4fa094aa0731e1cbe8d,ff6e94f2d8f05fea3b1334984ed3c36c,No,Yes,Mr.
6523,100.00,1,1,2014-02-12,"$6,565.40",Grades 3-5,Fully Funded,4012fa5c030eff8ffc8de5b50362a8db,79.0,King,urban,380b7ecd7c79a4fa094aa0731e1cbe8d,ff6e94f2d8f05fea3b1334984ed3c36c,No,Yes,Mr.
2659,25.00,1,1,2015-01-31,$479.42,Grades 3-5,Fully Funded,ff7016cb5efe220007c65950c7bb31d7,68.0,Benton,urban,beb3ed65c8d6290df295ea5902f279e9,ff7016cb5efe220007c65950c7bb31d7,Yes,Yes,Mrs.
2660,30.00,2,1,2015-01-31,$479.42,Grades 3-5,Fully Funded,ff7016cb5efe220007c65950c7bb31d7,68.0,Benton,urban,beb3ed65c8d6290df295ea5902f279e9,ff7016cb5efe220007c65950c7bb31d7,Yes,Yes,Mrs.
5722,100.00,2,1,2017-03-02,$579.54,Grades PreK-2,Fully Funded,29c3d0091fa94f872e807ca702122e25,95.0,Yakima,rural,d60bb3248d5e7871c774a1020477f444,ff73cc48a6c4b8348371a409a082d793,No,Yes,Mrs.
5721,69.00,1,1,2013-08-19,$387.94,Grades PreK-2,Fully Funded,29c3d0091fa94f872e807ca702122e25,95.0,Yakima,rural,d60bb3248d5e7871c774a1020477f444,ff73cc48a6c4b8348371a409a082d793,No,Yes,Mrs.
4384,20.00,1,1,2015-09-07,$553.41,Grades PreK-2,Fully Funded,4110ae05c7841bde430f85d9e4108833,73.0,King,urban,ab86b2a80f7288820abc0a3bcfb780a4,ff8b0053faa057c37d04cc13950b0b6b,No,Yes,Ms.
531,15.00,2,1,2014-03-08,"$5,197.59",Grades 9-12,Fully Funded,96071d717eb11e324b869c63397f1078,38.0,Snohomish,suburban,02cb5c1623e4fc5d0ddacee32b1a4c10,ff940e1e12793ee5da5ddc54d9408cc8,No,Yes,Mr.
532,30.00,1,1,2014-03-08,"$5,197.59",Grades 9-12,Fully Funded,96071d717eb11e324b869c63397f1078,38.0,Snohomish,suburban,02cb5c1623e4fc5d0ddacee32b1a4c10,ff940e1e12793ee5da5ddc54d9408cc8,No,Yes,Mr.
4752,50.00,1,1,2014-01-31,"$1,480.22",Grades 6-8,Fully Funded,ae90e1c4ad0e74851af8e834ecf9359f,36.0,King,urban,26be427061674753b82f9f7934a2f32d,ff9db3d5026278eb760bedeed6b59eb2,No,Yes,Mr.
4753,45.00,2,1,2014-03-28,"$1,084.04",Grades 6-8,Fully Funded,ae90e1c4ad0e74851af8e834ecf9359f,36.0,King,urban,26be427061674753b82f9f7934a2f32d,ff9db3d5026278eb760bedeed6b59eb2,No,Yes,Mr.
4518,100.00,1,1,2017-07-31,"$2,175.38",Grades PreK-2,Expired,0f1df484e23566b39273fdb0192e98ac,37.0,King,suburban,6f5e5bbe1ed5e4150dbd54b88d63e0b0,ffa886203dd7b9e178d7c3967443df78,No,Yes,Ms.
4517,10.00,2,1,2017-07-31,"$2,175.38",Grades PreK-2,Expired,0f1df484e23566b39273fdb0192e98ac,37.0,King,suburban,6f5e5bbe1ed5e4150dbd54b88d63e0b0,ffa886203dd7b9e178d7c3967443df78,No,Yes,Ms.
9482,10.00,2,1,2016-09-19,$465.07,Grades 3-5,Fully Funded,7796a3b8ee640568754da5918a5ce32b,74.0,Snohomish,suburban,cd4e84ace5d47d825b4a81cc4e7166b3,ffb591e62854f5a07585b0efd61e6b99,No,Yes,Mrs.
9432,20.00,1,1,2015-03-13,$424.39,Grades PreK-2,Fully Funded,0860c337360857cd035c43b215f5469a,74.0,Snohomish,suburban,cd4e84ace5d47d825b4a81cc4e7166b3,ffb591e62854f5a07585b0efd61e6b99,No,No,Mrs.
8053,50.00,1,1,2013-07-26,$473.06,Grades PreK-2,Fully Funded,b184aaca377745f38957bb97e1636192,82.0,Spokane,urban,dacab04d81249a7d77038dd0cf736651,ffbe7577ad17c12f493b4fdb7311e5c1,No,Yes,Mr.
8025,29.20,2,1,2014-08-13,$652.91,Grades 3-5,Fully Funded,86603592d0494d10a3833deb80e814b6,81.0,King,suburban,cc5a99bca92cb4173d71bd0eafe32fc9,ffbe7577ad17c12f493b4fdb7311e5c1,No,Yes,Ms.
9214,50.00,1,1,2016-04-24,"$2,809.25",Grades 9-12,Fully Funded,b4b29ac9fc289547b7ed0007c640da64,26.0,Whatcom,urban,8819c83393ad3150a509ee37559c4c57,ffcc3063ee82d6d2db4f24bb4cc17367,No,Yes,Ms.
9176,47.90,2,1,2017-10-18,$298.61,Grades 3-5,Fully Funded,745103a16f816bf777779eb982154a4e,67.0,Whatcom,rural,d7234effcec7f90f173cdf76e32d0ab1,ffcc3063ee82d6d2db4f24bb4cc17367,No,Yes,Ms.
7168,25.00,2,1,2014-03-16,$450.31,Grades PreK-2,Fully Funded,dcf6be5fa4fc45ca951f8e394fff80bd,69.0,Spokane,unknown,8d2f306f0852fa7e96d59de3f7703bdb,ffed800510341361242b540e8b5f8648,No,No,Mrs.
7081,10.00,1,1,2013-03-08,"$1,117.12",Grades 6-8,Expired,327aa0ce30b263e69005ff3e769e1c73,69.0,Spokane,unknown,8d2f306f0852fa7e96d59de3f7703bdb,ffed800510341361242b540e8b5f8648,No,Yes,Mr.

In [93]:
same_teacher_count = 0
same_school_count = 0
same_county_count = 0
perc_lunch = []
for donor in CONVERT_DF.donor_id.unique():
    if len(CONVERT_DF[CONVERT_DF['donor_id'] == donor]) == 1:
        continue
    
    
    donor_donations = CONVERT_DF[CONVERT_DF['donor_id'] == donor].reset_index()
    perc_lunch.append(donor_donations.loc[0,'perc_lunch'])
    same_teacher_count += int(donor_donations.loc[0,'teacher_id'] == donor_donations.loc[1,'teacher_id'])
    same_school_count += int(donor_donations.loc[0,'school_id'] == donor_donations.loc[1,'school_id'])
    same_county_count += int(donor_donations.loc[0,'county'] == donor_donations.loc[1,'county'])

In [94]:
len(CONVERT_DF.donor_id.unique())

5648

In [95]:
same_teacher_count

2342

In [96]:
same_school_count

2709

In [97]:
same_county_count

3657

In [28]:
query3 = '''
SELECT MAX(donor_cart_sequence)
FROM donations
WHERE donations.donor_id = '5d50478126251027de9c56101b57d42e'
'''

In [30]:
pd.read_sql_query(query3 ,cnx)

   max
0    1

In [27]:
i5_df.sample(2)

,donation_amt,ord,conv,project_id,donor_id,school_id,project_cost,grade_level,funded,perc_lunch,county,metro,is_teacher,incl_opt,prefix
22375,5.0,1,0,053bb2a83a769d81333419428b72fc88,5d50478126251027de9c56101b57d42e,4c1d31b792b356a84f8a0a5d09489204,$801.68,Grades PreK-2,Fully Funded,79.0,King,suburban,No,Yes,Ms.
37732,25.0,1,0,d696da0ae38126e3749f1aefb89233c0,c0da9aad4a00ee755a8356cb657f86bb,08adedcfe1a24a2f5f5101c9de7aaf3f,$295.72,Grades 3-5,Fully Funded,55.0,Pierce,urban,No,Yes,Mr.

In [31]:
simple_df = i5_df[['subject_category']].copy()

In [38]:
pd.DataFrame(mb.fit_transform(i5_df['subject_category']), mb.transformed_names_)

AttributeError: 'MultiLabelBinarizer' object has no attribute 'transformed_names_'

In [9]:
mb = DataFrameMapper([
    ('subject_category', MultiLabelBinarizer())
])

In [10]:
pd.DataFrame(mb.fit_transform(i5_df[['subject_category']]), columns=mb.transformed_names_)

,subject_category_Applied Learning,subject_category_Care & Hunger,subject_category_Health & Sports,subject_category_History & Civics,subject_category_Literacy & Language,subject_category_Math & Science,subject_category_Music & The Arts,subject_category_Special Needs,subject_category_Warmth
0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0
5,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,1,0,0,0
7,0,0,0,0,1,0,1,0,0
8,1,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,1,0,0
10,0,0,1,0,0,0,0,1,0
11,0,0,0,0,0,1,0,0,0
12,0,0,0,0,1,1,0,0,0
13,0,0,0,0,1,1,0,0,0
14,0,0,0,0,0,1,0,0,0
15,0,0,0,0,0,1,0,0,0
16,0,0,0,0,1,0,0,1,0
17,0,0,0,0,1,1,0,0,0
18,0,0,0,0,0,0,1,1,0
19,0,0,0,1,1,0,0,0,0
20,0,0,1,0,0,0,0,0,0
21,0,0,1,0,0,0,0,0,0
22,0,0,0,0,0,1,0,0,0
23,0,0,0,0,0,1,0,0,0
24,0,0,0,0,0,1,0,0,0
25,0,0,0,0,1,0,0,0,0
26,0,0,1,0,0,0,0,1,0
27,0,0,0,0,0,0,0,1,0
28,0,0,0,0,1,0,0,0,0
29,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
38194,0,0,0,0,0,0,1,0,0
38195,0,0,0,0,1,1,0,0,0
38196,0,0,0,0,1,0,0,1,0
38197,0,0,0,0,0,1,0,0,0
38198,0,0,0,0,1,0,0,0,0
38199,0,0,0,0,1,0,1,0,0
38200,0,0,0,0,1,1,0,0,0
38201,0,0,0,0,1,1,0,0,0
38202,0,0,0,0,0,1,0,0,0
38203,0,0,0,0,0,1,0,0,0
38204,0,0,0,0,1,0,0,0,0
38205,0,0,0,0,0,1,0,0,0
38206,0,0,0,0,0,1,0,0,0
38207,0,0,0,0,1,0,0,1,0
38208,0,0,0,1,1,0,0,0,0
38209,0,0,0,1,1,0,0,0,0
38210,0,0,0,0,1,0,0,0,0
38211,0,0,0,0,0,1,0,0,0
38212,0,0,0,0,1,0,0,0,0
38213,0,0,0,0,0,0,1,0,0
38214,0,0,0,1,0,1,0,0,0
38215,0,0,0,0,0,1,0,0,0
38216,0,0,0,0,1,1,0,0,0
38217,0,0,0,0,1,0,0,0,0
38218,0,0,1,0,1,0,0,0,0
38219,1,0,0,0,0,0,1,0,0
38220,0,0,1,0,0,0,0,1,0
38221,0,0,0,0,1,0,0,1,0
38222,0,0,0,0,1,0,0,0,0
38223,0,0,0,0,1,1,0,0,0

In [21]:
simple_df['subject_category'] = simple_df.apply(lambda row: row['subject_category'].split(', '), axis=1)

In [40]:
simple_df

                              subject_category
0                        [Literacy & Language]
1                           [Applied Learning]
2        [Literacy & Language, Math & Science]
3         [Applied Learning, Music & The Arts]
4                        [Literacy & Language]
5        [Literacy & Language, Math & Science]
6                             [Math & Science]
7             [Health & Sports, Special Needs]
8         [Literacy & Language, Special Needs]
9                             [Math & Science]
10                            [Math & Science]
11                           [Health & Sports]
12                           [Health & Sports]
13                            [Math & Science]
14           [Music & The Arts, Special Needs]
15                            [Math & Science]
16                            [Math & Science]
17       [Literacy & Language, Math & Science]
18     [History & Civics, Literacy & Language]
19                          [Applied Learning]
20                       [Literacy & Language]
21                             [Special Needs]
22        [Applied Learning, Music & The Arts]
23     [Literacy & Language, Music & The Arts]
24                       [Literacy & Language]
25                       [Literacy & Language]
26                             [Special Needs]
27     [Applied Learning, Literacy & Language]
28                          [Applied Learning]
29            [Health & Sports, Special Needs]
...                                        ...
38194                    [Literacy & Language]
38195    [Literacy & Language, Math & Science]
38196                    [Literacy & Language]
38197                    [Literacy & Language]
38198                    [Literacy & Language]
38199    [Literacy & Language, Math & Science]
38200                        [Health & Sports]
38201     [Applied Learning, Music & The Arts]
38202                         [Math & Science]
38203        [Applied Learning, Special Needs]
38204       [Math & Science, Applied Learning]
38205                    [Literacy & Language]
38206  [Literacy & Language, Music & The Arts]
38207        [Applied Learning, Special Needs]
38208                         [Math & Science]
38209     [Literacy & Language, Special Needs]
38210                          [Special Needs]
38211       [Math & Science, Music & The Arts]
38212                    [Literacy & Language]
38213                         [Math & Science]
38214                    [Literacy & Language]
38215                    [Literacy & Language]
38216                         [Math & Science]
38217    [Literacy & Language, Math & Science]
38218    [Literacy & Language, Math & Science]
38219                    [Literacy & Language]
38220                         [Math & Science]
38221                         [Math & Science]
38222     [Literacy & Language, Special Needs]
38223                    [Literacy & Language]

[38224 rows x 1 columns]